<mat-toolbar>
        <mat-toolbar-row>
                <span>Cardio Vascular Data Analysis</span>
                <span class="spacer"></span>
                <button mat-raised-button (click)="insert()">Insert</button>&nbsp;
                <button mat-raised-button (click)="view()">View</button>&nbsp;
                <button mat-raised-button (click)="update()">Update</button>&nbsp;
                <button mat-raised-button (click)="delete()">Delete</button>&nbsp;
                <a mat-raised-button href="https://charts.mongodb.com/charts-big-data-analytics-ckopn/public/dashboards/5fccfa60-be43-4653-822f-4f8ced740945" target = "_blank">Visualization</a>
                <mat-icon class = "home" aria-hidden="false" aria-label="Example home icon" (click) = "onHome()">home</mat-icon>
        </mat-toolbar-row>
</mat-toolbar>
            